@page "/login"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<input id="username" placeholder="Type your username"/>
<input id="password" placeholder="Type your password" />

<button class="btn btn-primary" @onclick="LoginClick">To login</button>

@code {
    private void LoginClick()
    {
        
    }
}
